.tab-wrapper {
    padding: 20px 0 0 0;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: center;
}

.tab-heading {
    display: flex;
    justify-content: center;
    gap: 0px;
    font-size: 32px;
}

.tab-heading div {
    max-height: 50px;
    width: 150px;
    padding: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab-item {
    cursor: pointer;
}

.tab-item.active {
    border-color: #000;
    background: #a1d600;
    color: #fff;
}

.tab-content {
    min-height: 75vh;
    background: #a1d600;
    padding-top: 30px;
    color: #000000;
}